/*Настройки для всего документа*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Exo 2', monospace;
    font-size: 25px;
}

/*Настройки для всего документа*/
body {
    color: #fff;
    max-width: 1519px;
    overflow-x: hidden;
}

/*Выделение текста другим цветом*/
::selection {
    color: #000;
    background:#FFAF12;
}


/*Логотип в шапке*/
#logo {
    height: 20%;
    width: 20%;
    float: left;
    margin: 30px 10px 0px 90px;
}

/*Страница с прайсом*/
.pricepage {
    background-color: #FFAF12;
    height: 754px;
}

#slogan {
    padding: 40px 40px 40px 100px;
    font-weight: 900;
    text-transform: uppercase;
    width: 600px;
    height: 50px;
    float: left;
    font-size: 50px;
    color: #000;
}


#stil {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
}

/*Прайс*/
.price {
    color: #000;
    border: solid 3px #000;
    background-color: #fff;
    list-style-type: none;
    font-size: 12px;
    width: 500px;
    height: 625px;
    padding: 20px;
    position: absolute;
    margin: 40px 40px 40px 1519px;
    transition: 1s;
}

.price.side_animation {
    margin-left: 935px;
    transition: 1s;
}

/*Прайс*/
.price_position {
    color: black;
    font-weight: 300;
    transition: 0.3s linear;
    font-size: 20px;
}

/*Прайс при наведении*/
.price_position:hover {
    color: #FFAF12;
}

/*Заголовки при наведении*/
.price_h {
    font-size: 25px;
    font-weight: 600;
}

/*Цена*/
.rub {
    float: right;
    font-size: 20px;
}

.menuSidebar {
    width: 60px;
    position: fixed;
    height: 754px;
    background-color: #0f0f0f;
}

.telephone {
    transform: rotate(180deg);
}

.number {
    color: #fff;
    font-weight: 200;
    writing-mode: vertical-rl;
    font-weight: 300;
    letter-spacing: 0.10em;
    margin: 15px;
}

#iconMenu1 {
    margin: 15px 15px 0px 15px;
    cursor: pointer;
}

.fa-bars {
    color: #fff;
}

.fa-bars:hover {
    color: #FFAF12;
    transition: 0.3s linear;
}

#iconMenu2 {
    margin: 15px 20px 15px 20px;
}

.fa-instagram {
    color: #fff;
}

.fa-instagram:hover {
    color: #FFAF12;
    transition: 0.3s linear;
}

#iconMenu3 {
    margin: 15px 18px 15px 17px;
}

.fa-vk {
    color: #fff;
}

.fa-vk:hover {
    color: #FFAF12;
    transition: 0.3s linear;
}

#iconMenu4 {
    margin: 250px 22px 15px 22px;
}

.fa-map-marker-alt {
    color: #fff;
    padding: auto;
}

.fa-map-marker-alt:hover {
    color: #FFAF12;
    transition: 0.3s linear;
}

div hr {
    border: none; /* Убираем границу */
    background-color: #fff; /* Цвет линии */
    color: #fff; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 45px ;
    margin: 0px 7px 0px 7px;
}

/*Настройки для бокового меню*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c0c0c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 60px;
}
  
.string_nav {
    color: #fff;
    transition: 0.3s linear;
    text-transform: uppercase;
    font-size: 26px;
    height: 50px;
    font-weight: 600;
    margin: 15px;
    padding-left: 30px;
    letter-spacing: 0.10em;
    display: block;
    white-space: nowrap;
}
  
.sidenav a:hover {
    color: #FFAF12;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}
  
#main {
    transition: margin-left .5s;
    background-image: url(/images/background1.jpg);
    background-attachment: fixed;
    max-height: 754px;
    height: 754px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

